<template name="login">
    {{#contentFor "headerTitle"}}
        <h1 class="title">LOGIN</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}

            <div class="login">

                {{#if currentUser}}
                    {{currentUser._id}}
                    <button id="logout">Logout</button>

                    <section id="games">
                        <h1>Available Games</h1>
                        {{#each games}}
                            <div class="game">
                                {{teamName}}
                                <button type="button" class="join-game">Join game</button>
                            </div>
                        {{/each}}
                    </section>
                {{else}}
                    {{> atForm}}
                {{/if}}

            </div>
        {{/ionContent}}
    {{/ionView}}
</template>
