<template name="login">
    {{#contentFor "headerTitle"}}
        <h1 class="title">LOGIN</h1>
        {{>logout}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}

            <div class="login">

                {{#if currentUser}}
                    <section id="games">
                        <h1>Available Games</h1>
                        {{#ionList}}
                            {{#each games}}
                                {{#ionItem}}
                                    <div class="user game">
                                        <p>{{teamName}}</p>
                                        <button type="button" class="join-game button button-small button-balanced">Join game</button>
                                    </div>
                                {{/ionItem}}
                            {{/each}}
                        {{/ionList}}
                    </section>
                {{else}}
                    {{> atForm}}
                {{/if}}

            </div>
        {{/ionContent}}
    {{/ionView}}
</template>
