<template name="layout">

  {{#ionBody}}
      <div class="bar bar-header bar-balanced">
          <h1 class="title">    {{> yield "headerTitle"}}</h1>
          {{> atNavButton}}
      </div>

      {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

    {{#ionTabs class="tabs-balanced tabs-icon-top"}}
		  {{> ionTab title="RULES" path="rules" iconOff="ios-bookmarks-outline" iconOn="ios-bookmarks"}}
		  {{> ionTab title="TEAM" path="team" iconOff="ios-people-outline" iconOn="ios-people"}}
		  {{> ionTab title="OVERVIEW" path="overview" iconOff="ios-list-outline" iconOn="ios-list"}}
		  {{> ionTab title="RADAR" path="radar" iconOff="ios-navigate-outline" iconOn="ios-navigate"}}
  	{{/ionTabs}}

  {{/ionBody}}

</template>
