<template name="layout">

    {{#ionBody}}
        {{> ionNavBar class="bar-balanced"}}
        {{#ionNavView}}
            {{> yield}}
        {{/ionNavView}}

        {{#ionTabs class="tabs-balanced tabs-icon-top"}}
            {{#if isActiveRoute regex='login|rulesInAdvance'}}
                {{>ionTab title="RULES" path="rulesInAdvance" iconOff="ios-bookmarks-outline" iconOn="ios-bookmarks"}}
                {{>ionTab title="LOGIN" path="login" iconOff="ios-checkmark-outline" iconOn="ios-checkmark"}}
            {{/if}}

            {{#if isNotActiveRoute regex='login|rulesInAdvance'}}
                {{> ionTab title="RULES" path="rules" iconOff="ios-bookmarks-outline" iconOn="ios-bookmarks"}}
                {{> ionTab title="TEAM" path="team" iconOff="ios-people-outline" iconOn="ios-people"}}
                {{> ionTab title="OVERVIEW" path="overview" iconOff="ios-list-outline" iconOn="ios-list"}}
            {{/if}}
        {{/ionTabs}}
    {{/ionBody}}

</template>
