#users, #games {
    margin: 5vh 5vw;

    button#start-game {
        margin-top: 4vh;
    }

    .user {
        height: 10vh;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;

        img.user-image {
            display: inline-block;
        }

        p {
            display: inline-block;
            margin-left: 2vw;
        }
    }
}
